<!DOCTYPE html>
<html ng-app="academiaApp">
<head>
<title>Academia Mobile</title>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/jqueryUI/jquery-ui.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD98GfJkckY_wSgOQ94AsEYdH9XZDURxrs"
  type="text/javascript"></script>
<!-- jQuery (necessario para os plugins Javascript Bootstrap) -->
<script src="js/jquery/jquery-2.2.3.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>

<!-- JQueryUI para animação -->
<script src="js/jqueryUI/jquery-ui.min.js"></script>

<!-- Importando biblioteca angular, controller e etc..-->
<script src="js/angularj/angular.js"></script>
<script src="js/module/app.js"></script>
<script src="js/controller/academiaController.js"></script>
<script src="js/filter/diaSemanaFilter.js"></script>
<script src="js/filter/diaMesAnoFilter.js"></script>
<script src="js/directive/gravarTreinoDirective.js"></script>

<!-- Importando cordova huhuhuahua-->
<script src="js/cordova/ng-cordova.js"></script>
<script src="cordova.js"></script>
<script src="js/main.js"></script>
</head>
<body ng-controller="academiaController">

    <div id="Menu" style="margin-bottom:19%;">
       <nav class="navbar navbar-inverse navbar-fixed-top">
		 <div class="container-fluid">
		  <div class="navbar-header">
		   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		   </button>
		   <a class="navbar-brand" href="#"> Academia - Force Fit</a>
		  </div> 
		  <div id="navbar" class="navbar-collapse collapse">
		   <ul class="nav navbar-nav navbar-right">
		    <li><a href="#" id="menuMeuTreino">Meu Treino</a></li>
		    <li><a href="#" id="menuExibirExercicio">Exibir Exercícios</a>
			    <ul id="submenuExibirExercicio"class="navbar-nav ocultar ">
					<li class="exibirExercicio"><a href="#" id="Biceps">Bíceps</a></li>
					<li class="exibirExercicio"><a href="#" id="Triceps">Tríceps</a></li>
					<li class="exibirExercicio"><a href="#" id="Costas">Costas</a></li>
					<li class="exibirExercicio"><a href="#" id="Peitoral">Peitoral</a></li>
					<li class="exibirExercicio"><a href="#" id="Pernas">Pernas</a></li>
					<li class="exibirExercicio"><a href="#" id="Trapezio">Trapézio</a></li>
					<li class="exibirExercicio"><a href="#" id="Deltoide">Deltóide</a></li>
					<li class="exibirExercicio"><a href="#" id="Gluteo">Glúteo</a></li>
				</ul>
			</li>
			<li><a href="#" id="menuGravarTreino">Gravar Treino</a></li>
			<li><a href="#" id="menuHistorico">Histórico</a></li>
			<li><a href="#" id="menuMedidas">Medidas Antropométricas</a></li>	
		   </ul>
		  </div>
		 </div>
		</nav>    
	</div>
	<div id="conteudoExercicio">

	    <div class="container ocultar" id="BICEPS">
		    <div ng-include=" 'pages/exercicios/biceps.html' "></div>
		</div>
	
		<div class="container ocultar" id="TRICEPS">
		    <div ng-include = " 'pages/exercicios/triceps.html' "></div>
		</div>

		<div class="container ocultar" id="COSTAS">
		    <div ng-include = " 'pages/exercicios/costas.html' "></div>
		</div>
		
		<div class="container ocultar" id="PEITORAL">
		    <div ng-include = " 'pages/exercicios/peitoral.html' "></div>
		</div>

		<div class="container ocultar" id="PERNAS">
		    <div ng-include = " 'pages/exercicios/pernas.html' "></div>
		</div>

		<div class="container ocultar" id="DELTOIDE">
		    <div ng-include = " 'pages/exercicios/deltoide.html' "></div>
		</div>
		
		<div class="container ocultar" id="TRAPEZIO">
		    <div ng-include = " 'pages/exercicios/trapezio.html' "></div>
		</div>
		
		<div class="container ocultar" id="GLUTEO">
		  <h4>Gluteo</h4>
		   <div class="alert alert-warning">
            <strong>Ooops!</strong> Não existe séries cadastradas para esta categoria...
           </div>
		</div>
		
	</div>
    <div id="conteudoGravarTreino" class="ocultar">
	    <div ui-gravar></div>
        
    </div>	
	<div id="conteudoSequenciaTreino" class="ocultar">
	    <div class="container">
			<h4 class="alert alert-info">Você deverá seguir a sequência de treino abaixo:</h4>
			<h4 style="text-align:center;" class="alert alert-info"><strong>A - B - C - D</strong></h4>
			<table class="table">
			    <tr>	  
				    <td>
					    <div class="list-group efectShake" style="width:auto;text-align:center;">
						    <a href="#" class="list-group-item active">A</a>
						    <a href="#" class="list-group-item">Peito</a>
						    <a href="#" class="list-group-item">Tríceps</a>
					    </div>
				    </td>
				    <td>
					    <div class="list-group efectShake" style="width:auto;text-align:center;">
						    <a href="#" class="list-group-item active">B</a>
						    <a href="#" class="list-group-item">Perna</a>
					    </div>
				    </td>
				</tr>
				<tr>
				    <td>
					    <div class="list-group efectShake" style="width:auto;text-align:center;">
						    <a href="#" class="list-group-item active">C</a>
						    <a href="#" class="list-group-item">Costas</a>
						    <a href="#" class="list-group-item">Bíceps</a>
					    </div>
				    </td>
				    <td>
					    <div class="list-group efectShake" style="width:auto;text-align:center;">
						    <a href="#" class="list-group-item active">D</a>
						    <a href="#" class="list-group-item">Deltoide</a>
						    <a href="#" class="list-group-item">Abdomem</a>
					    </div>
				    </td>
				</tr> 
			</table> 	  
		</div> 
    </div>		
	
	<div id="conteudoHistorico" class="ocultar">
	    <div class="container">
		  <h2>Histórico</h2>
		  <table class="table table-striped">
			<thead>
			  <tr>
				<th>Data</th>
				<th>Semana</th>
				<th>Treino Executado</th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="h in historico | orderBy: 'h.data':true">
				<td>{{ h.data | diaMesAno }}</td>
				<td>{{h.data.getDay() | diaSemanaFilter}}</td>
				<td>{{h.treino}}</td>
			  </tr>
			</tbody>
		  </table>
		</div>    
	   
	</div>
	<div id="medidas" >
	    <div ng-include = " 'pages/medidas/medidas.html' "></div>
	</div>
    <div id="footer" class="ocultar">
        <div id="deviceready" style="margin:auto; text-align:center;">
			<p>
			   <img id="minhaFoto" src="" style="display:none;width:250px;height:250px;text-align:center;">
			</p>
			<div id="imgLocalizacao" style="width:250px;height:180px;margin:auto;">
			</div>
			<p>
			   <button type="button" class="btn btn-info " ng-click="foto();">Tirar Foto</button><br>
			</p>
			<p>
			   <button type="button" class="btn btn-info " ng-click="localizar();">Localizar</button><br>
			</p>
	   </div>
    </div>

</body>
</html>	